
table{
    font-size: x-large;
}

li{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#tbl-long table{
    font-size: 10% !important;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
}

#tbl-long td {
    padding: 4px !important;
    /* margin: 0 !important; */
}