.note{
    visibility: hidden;
}



.smaller-font{
    font-size: smaller !important;
}

.speaker {
    padding-top: 100vh;
}

.presenter-btn{
    background-color: gray;
}

figcaption{
  text-align: center;
}